html{
overflow: hidden;
height: 100%;
width: 100%;
}

body{
height: 100%;
width: 100%;
}

body, div, p, blockquote, ol, ul, dl, li, dt, dd, td {
font-family: Verdana, Arial, sans-serif;
font-size: 32px;
font-weight: 400;
color: #FFFFFF;
background-color: #000000;
}

.container{
position: relative;
text-align: center;
}

.javaApp{
border: 0;
position: absolute;
height:480;
width:640;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}

.textInner{
text-align: center;
position: relative;
width:80%;
background:rgba(255,255,255,0.0);
}

.text{
border: 0;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}
